<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JournelWeb</title>
    <environment include="Development">
        <link rel="stylesheet" href="@Url.Content("~/Content/lib/bootstrap/dist/css/bootstrap.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/site.css")" />
        <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
        <!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/cufon-yui.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/arial.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cuf_run.js")"></script>
        <!-- CuFon ends -->
        <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
        @*<script src="@Url.Content("~/Scripts/site.js")"></script>*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="@Url.Content("~/Content/lib/bootstrap/dist/css/bootstrap.min.css")"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/site.min.css")" asp-append-version="true" />
        <link rel="stylesheet" href="@Url.Content("~/Content/lib/bootstrap/dist/css/bootstrap.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/site.css")" />
        <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
        <!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/cufon-yui.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/arial.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cuf_run.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <!-- CuFon ends -->
        <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/custom.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
        @*<script src="@Url.Content("~/Scripts/site.js")"></script>*@
    </environment>
    <style>
        /*h1 span{
            color: #00518c;
        }
        h1 small{
            color:#464647;
        }
        .nav ul li a{
            color:#00518c;
            font-weight: 700;
            text-decoration:underline;
        }
        .nav ul li a:hover{
            background-color:#00518c;
            color:#fff;
        }
        .nav li ul{
            margin-top: 2px;
        }
       .nav ul li ul li{         
           background-color:#464647;
       }
       .nav ul li ul li a{
           color:#fff;
       }
       .nav ul li ul li:last-child{
           border:none;
       }
       .right li{
           border-bottom: 1px dashed #00518c;
       }
       .right li a{
           color: #e8232b;
       }
       .right .blog{
           border: 1px dashed #00518c;
       }*/
       .form-control{
           border: 1px solid #00518c;
           border-radius: 10px;
           width:275px;
       }
       .btn{
           border-radius: 10px;
           background-color:#00518c;
           color:#fff;
       }
       .req {
            color: #e8232b;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header_resize">
                <div class="logo">
                    <table border="0" width="100%">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Content/images/logomain.png")" alt="" width="125px" height="125px" />
                            </td>
                            <td>
                                <h1><a href="@Url.Action("Index", "Home")"><small>International</small><span>Journal</span><small>of Enginerring Reasearch &amp; Technology Science</small></a></h1>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="nav" style="padding-top:100px; padding-left:100px">
                    <!-- Start of Nav Bar -->
                    <ul>
                        <li class="home">
                            <a href="@Url.Action("Index", "Home")" class="active">Home</a>
                            <ul>
                                <li class="programs"><a href="@Url.Action("CallforPaper", "Home")" class="">Call for Papers</a></li>
                            </ul>
                        </li>
                        <li class="home">
                            <a href="@Url.Action("About", "Home")" class="active">About Us</a>
                        </li>
                        <li class="home">
                            <a href="@Url.Action("Index", "Author")" class="">Author</a>
                            <ul>
                                <li class="events"><a href="@Url.Action("PublicationCharges", "Author")" class="active">Publication Charges</a></li>
                                <li class="events"><a href="@Url.Action("AuthorResponsibility", "Author")" class="active">Author Responsibility</a></li>

                                <li class="events"><a href="@Url.Action("PostPaper", "Author")" class="active">Post Paper</a></li>
                                <li class="events"><a href="@Url.Action("TrackMyPaper", "Author")" class="active">Track My Paper</a></li>
                                <li class="events"><a href="https://smallseotools.com/plagiarism-checker/" target="_blank" class="active">Check Plagarism</a></li>
                            </ul>
                        </li>
                        <li class="home">
                            <a href="@Url.Action("EditorialBoard", "Editor")" class="">Editorial Board</a>
                            <ul>
                                <li class="events"><a href="@Url.Action("Index", "Editor")" class="">Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="resources">
                            <a href="@Url.Action("Index", "Review")" class="active">Reviewer</a>
                            <ul>
                                <li class="resources"><a href="@Url.Action("Responsiblities", "Review")" class="active">Responsibilities of Reviewers</a></li>

                            </ul>
                        </li>
                        @if (Session["UserId"] == null)
                        {
                        <li class="resources">
                            <a href="#" class="active">Login</a>
                            <ul>
                                <li class="resources"><a href="@Url.Action("AuthorLogin", "Login")" class="active">Authors Login</a></li>
                                @*<li class="resources"><a href="@Url.Action("EditorLogin", "Login")" class="active">Editors Login</a></li>*@
                                <li class="resources"><a href="@Url.Action("ReviewerLogin", "Login")" class="active">Reviewers Login</a></li>
                            </ul>
                        </li>
                        }
                        @if (Session["UserId"] != null)
                        {
                            if (Session["UserType"].ToString() == "A")
                            {
                                <li class="resources">
                                    <a href="@Url.Action("MyProfile", "Author")" class="active">My Profile</a>
                                </li>
                            }
                            else if (Session["UserType"].ToString() == "R")
                            {
                                <li class="resources">
                                    <a href="@Url.Action("MyProfile", "Review")" class="active">My Profile</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="body">
            <div class="body_resize">
                <div class="left">
                    <p>
                        @RenderBody()
                    </p>
                </div>
                <div class="right">
                    <div class="blog">
                        <h2><span>Quick</span> Links</h2>
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("CallforPaper", "Home")">Call for Papers</a></li>
                            <li><a href="@Url.Action("ResearachArea", "Home")">Latest Issues</a></li>
                            <li><a href="@Url.Action("ResearachArea", "Home")">Previous Issues</a></li>
                            <li><a href="@Url.Action("ResearachArea", "Home")">Research Area</a></li>
                            <li><a href="@Url.Action("Downloads", "Home")">Downloads</a></li>
                            <li><a href="@Url.Action("FAQ", "Home")">FAQ</a></li>
                            <li><a href="@Url.Action("Queries", "Home")">Contact Us</a></li>
                            @if (Session["UserId"] != null)
                            {
                                <li><a href="@Url.Action("ChangePassword", "Login")">Change Password</a></li>
                                <li><a href="@Url.Action("UpdateUserSession", "Login")">Logout</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_resize">
                <p class="right">&nbsp;</p>
                <p>&copy; @DateTime.Now.Year Copyright IJERTS.</a></p>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
