
@{
    @model IJERTS.Objects.Paper
    ViewData["Title"] = "PaperDetails";
}
<h4>Paper Details</h4>
<br />

<div style="padding-left:8px">
    @using (Html.BeginForm("UpdatePaper", "Editor", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.MainTitle, htmlAttributes: new { @class = "control-label col-md-3", @style = "padding-left:0px !important" })
            </div>
            <div class="col-md-4">
                @Html.DisplayTextFor(model => model.MainTitle)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.ShortDesc, htmlAttributes: new { @class = "control-label col-md-3", @style = "padding-left:0px !important" })
            </div>
            <div class="col-md-4">
                @Html.DisplayTextFor(model => model.ShortDesc)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-3", @style = "padding-left:0px !important" })
            </div>
            <div class="col-md-4">
                @Html.DisplayTextFor(model => model.Subject)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-3", @style = "padding-left:0px !important" })
            </div>
            <div class="col-md-4">
                @Html.DisplayTextFor(model => model.Tags)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label id="lblFileName">Download Paper</label>
            </div>
            <div class="col-md-4">
                <a style="color:#fff;" class="btn btn-primary btn-xs" target="_blank" href="@Url.Content(Model.PaperPath)">Download</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label id="lblFileName">Download Declaration</label>
            </div>
            <div class="col-md-9">
                <a style="color:#fff;" class="btn btn-primary btn-xs" target="_blank" href="@Url.Content(Model.DeclarationPaperPath)">Download</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <label id="lblFileName"><b><u>Authors Information</u></b></label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <tr>
                        <th>
                            <center>First Name</center>
                        </th>
                        <th>
                            <center>Last Name</center>
                        </th>
                        <th>
                            <center>Department</center>
                        </th>
                        <th>
                            <center>Organisation</center>
                        </th>
                    </tr>
                    @foreach (var item in Model.Authors)
                    {
                        <tr>
                            <td>
                                <p>@item.AuthorFirstName</p>
                            </td>
                            <td>
                                <p>@item.AuthorLastName</p>
                            </td>
                            <td>
                                <p>@item.Department</p>
                            </td>
                            <td>
                                <p>@item.Organisation</p>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label id="lblFileName">Editor Comments</label>
            </div>
            <div class="col-md-5">
                @Html.DisplayTextFor(model => Model.Comments.Comments)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-2" style="padding-left:0px !important">
                    <input type="button" value="Back" id="btnBack" class="btn btn-default" onclick="location.href='@Url.Action("TrackMyPaper", "Author", new { paperid = 100 }, null)'" />
                </div>
                <div class="col-md-2" style="padding-left:0px !important">
                    @*<input type="submit" value="Update" id="postPaper" class="btn btn-default" onclick="location.href='@Url.Action("UpdatePaper", "Editor", new { paperid = Model.PaperId }, null)'" />*@
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label id="lblError" class="text-danger"> @TempData["PaperPostingFailed"]</label>
                </div>
            </div>
        </div>
        <input type="text" value="@Model.PaperId" name="txtPaperId" style="visibility:hidden" />
    }
</div>

