
@{
    @model IJERTS.Objects.Paper
    ViewData["Title"] = "PostPaper";
}

<h4><span>Submit Paper</span></h4>
<br />
@using (Html.BeginForm("PostPaper", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div style="padding-left:8px">
        <div class="row">
            <div class="col-md-3">Main Title&nbsp;<span class="req">*</span></div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.MainTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MainTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">Short Description&nbsp;<span class="req">*</span></div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.ShortDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortDesc, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">Subject&nbsp;<span class="req">*</span></div>
            <div class="col-md-4">
                @Html.DropDownList("Subject", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">Tags</div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                Upload Declaration&nbsp;<span class="req">*</span>
            </div>
            <div class="col-md-4">
                <input type="file" id="DeclarationPaperPath" name="DeclarationPaperPath" accept=".doc, .docx, .pdf, .rtf"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                Upload Article&nbsp;<span class="req">*</span>
            </div>
            <div class="col-md-4">
                <input type="file" id="PaperPath" name="PaperPath" accept=".doc, .docx, .pdf, .rtf"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <label id="lblFileName"><b><u>Authors Information</u></b></label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <tr>
                        <th>
                            <center>First Name</center>
                        </th>
                        <th>
                            <center>Last Name</center>
                        </th>
                        <th>
                            <center>Department</center>
                        </th>
                        <th>
                            <center>Organisation</center>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="AuthorFirstName1" id="AuthorFirstName1"  class="form-control text-box single-line " style="width:130px" />&nbsp;<span class="req">*</span>
                        </td>
                        <td>
                            <input type="text" name="AuthorLastName1" id="AuthorLastName1" class="form-control text-box single-line " style="width:130px" />&nbsp;<span class="req">*</span>
                        </td>
                        <td>
                            <input type="text" name="AuthorDepartment1" id="AuthorDepartment1" class="form-control text-box single-line " style="width:170px" />&nbsp;<span class="req">*</span>
                        </td>
                        <td>
                            <input type="text" name="AuthorOrganisation1" id="AuthorOrganisation1" class="form-control text-box single-line " style="width:200px" />&nbsp;<span class="req">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="AuthorFirstName2" id="AuthorFirstName2" class="form-control text-box single-line" style="width:130px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorLastName2" id="AuthorLastName2" class="form-control text-box single-line" style="width:130px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorDepartment2" id="AuthorDepartment2" class="form-control text-box single-line" style="width:170px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorOrganisation2" id="AuthorOrganisation2" class="form-control text-box single-line" style="width:200px" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="AuthorFirstName3" id="AuthorFirstName3" class="form-control text-box single-line" style="width:130px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorLastName3" id="AuthorLastName3" class="form-control text-box single-line" style="width:130px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorDepartment3" id="AuthorDepartment3" class="form-control text-box single-line" style="width:170px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorOrganisation3" id="AuthorOrganisation3" class="form-control text-box single-line" style="width:200px" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="AuthorFirstName4" id="AuthorFirstName4" class="form-control text-box single-line" style="width:130px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorLastName4" id="AuthorLastName4" class="form-control text-box single-line" style="width:130px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorDepartment4" id="AuthorDepartment4" class="form-control text-box single-line" style="width:170px" />
                        </td>
                        <td>
                            <input type="text" name="AuthorOrganisation4" id="AuthorOrganisation4" class="form-control text-box single-line" style="width:200px" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>        
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-1" style="padding-left:0px !important">
                    <button class="btn btn-mod btn-block btn-small btnPostPaper" id="btnPostPaper" style="width:95px">Post Paper</button>
                    <button type="submit" class="btn btn-mod btn-block btn-small hidden" id="btnSubmit">Submit</button>
                </div>
                <div class="col-md-11"></div>
            </div>
        </div>
        <br />
        <div class="row">
                <div class="col-md-12" style="padding-left:0px !important">
                    <label id="lblError" class="text-danger" style="padding-left:0px !important">@ViewData["PaperPostingFailed"]</label>
                </div>
        </div>
    </div>
}
<script type="text/javascript">

    //get file path from client system
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    $(function () {

        $("#DeclarationPaperPath").change(function () {
            var file = getNameFromPath($(this).val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                switch (extension) {
                    case 'doc':
                    case 'docx':
                    case 'pdf':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                alert('You can upload only doc, docx and pdf extension file');
                $("#DeclarationPaperPath").focus();
                return false;
            }
        });

        $("#PaperPath").change(function () {
            var file = getNameFromPath($(this).val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                switch (extension) {
                    case 'doc':
                    case 'docx':
                    case 'pdf':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                alert('You can upload only doc, docx and pdf extension file');
                $("#PaperPath").focus();
                return false;
            }
        });

    });

    $(".btnPostPaper").click(function (event) {
        error = 0;
        event.preventDefault();
        
        if ($("#MainTitle").val().trim() == "") {
            alert('Please enter the Main Title');
            $("#MainTitle").focus();
            return false;
        }
        else if ($("#ShortDesc").val().trim() == "") {
            alert('Please enter the Short Description');
            $("#ShortDesc").focus();
            return false;
        }
        else if ($("#Subject").val().trim() == "") {
            alert('Please enter the Subject');
            $("#Subject").focus();
            return false;
        }
        else if ($("#DeclarationPaperPath")[0].files.length == 0) {
            alert('Please upload the Declaration');
            $("#DeclarationPaperPath").focus();
            return false;
        }
        else if ($("#PaperPath")[0].files.length == 0) {
            alert('Please upload the Article');
            $("#PaperPath").focus();
            return false;
        }
        else if ($("#AuthorFirstName1").val().trim() == "") {
            alert('Please enter the Author FirstName1');
            $("#AuthorFirstName1").focus();
            return false;
        }
        else if ($("#AuthorLastName1").val().trim() == "") {
            alert('Please enter the Author LastName1');
            $("#AuthorLastName1").focus();
            return false;
        }
        else if ($("#AuthorDepartment1").val().trim() == "") {
            alert('Please enter the Author Department1');
            $("#AuthorDepartment1").focus();
            return false;
        }
        else if ($("#AuthorOrganisation1").val().trim() == "") {
            alert('Please enter the Author Organisation1');
            $("#AuthorOrganisation1").focus();
            return false;
        }
        else
        {
            $("#btnSubmit").click();
            return true;
        }
    });
</script>