@{
    @model IEnumerable<IJERTS.Objects.Paper>
    ViewData["Title"] = "TrackMyPaper";
}


<h4>Dashboard</h4>
<br />

<div>
    <div class="row">
        <div class="col-md-2">Paper Id</div>
        <div class="col-md-2">Title</div>
        <div class="col-md-2">Status</div>
        <div class="col-md-2">Created by</div>
        <div class="col-md-2">Created on</div>
        <div class="col-md-2">Details</div>

    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-2"><p>@item.PaperId</p></div>
            <div class="col-md-2"><p>@item.MainTitle</p></div>
            <div class="col-md-2"><p>@item.Status.Status</p></div>
            <div class="col-md-2"><p>@item.CreatedBy</p></div>
            <div class="col-md-2"><p>@item.CreatedDateTime.ToShortDateString()</p></div>           
        </div>
    }

</div>

