
@{
    @model IJERTS.Objects.Users
    ViewData["Title"] = "Change Password";
}

<h4>Change Password</h4>
<br />
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmChangePassword", @class = "login-form", @autocomplete = "off" }))
{
@Html.AntiForgeryToken()
<div style="padding-left:8px">
    <div class="row">
        <label class="control-label col-md-3">Current Password<span class="req"> * </span></label>
        <div class="col-md-4">
            @Html.PasswordFor(model => Model.CurrentPassword, new { @class = "form-control form-control-solid placeholder-no-fix disablecopypaste", @maxlength = 150, @placeholder = "Current Password", @name = "CurrentPassword", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-5"></div>
    </div>
    <br />
    <div class="row">
        <label class="control-label col-md-3">New Password<span class="req"> * </span></label>
        <div class="col-md-4">
            @Html.PasswordFor(model => Model.NewPassword, new { @class = "form-control form-control-solid placeholder-no-fix disablecopypaste", @maxlength = 150, @placeholder = "New Password", @name = "NewPassword", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-5"></div>
    </div>
    <br />
    <div class="row">
        <label class="control-label col-md-3">Confirm Password<span class="req"> * </span></label>
        <div class="col-md-4">
            @Html.PasswordFor(model => Model.ConfirmPassword, new { @class = "form-control form-control-solid placeholder-no-fix disablecopypaste", @maxlength = 150, @placeholder = "Confirm Password", @name = "ConfirmPassword", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-5"></div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Login" id="Login" class="btn btn-default" onclick="location.href='@Url.Action("ValidateLogin", "Login")'" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <label id="lblError" class="text-danger"> @TempData["UserLoginFailed"]</label>
            </div>
        </div>
    </div>
</div>
}