@model IEnumerable<IJERTS.Objects.Paper>
<br />
<div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <tr>
                <th>
                    <center>Title</center>
                </th>
                <th>
                    <center>Short Desc</center>
                </th>
                <th>
                    <center>Created By</center>
                </th>
                <th>
                    <center>Created On</center>
                </th>
                <th>
                    <center>Details</center>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><p>@item.MainTitle</p></td>
                    <td><p>@item.ShortDesc</p></td>
                    <td><p>@item.CreatedBy</p></td>
                    <td><p>@item.CreatedDateTime.ToShortDateString()</p></td>
                    <td>
                        <p>@Html.ActionLink("Details", "GetPaperDetails", "Editor", new { id = @item.PaperId }, null)</p>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>