@model IEnumerable<IJERTS.Objects.Queries>
<br />
<div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <tr>
                <th>
                    <center>Full Name</center>
                </th>
                <th>
                    <center>Email</center>
                </th>
                <th>
                    <center>Query</center>
                </th>
                <th>
                    <center>Details</center>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><p>@item.FirstName, @item.LastName</p></td>
                    <td><p>@item.Email</p></td>
                    <td><p>@item.QueryText</p></td>
                    <td>
                        <p>@Html.ActionLink("Details", "QueryDetails", "Editor", new { id = @item.QueryId }, null)</p>
                    </td>          
                </tr>
            }
        </table>
    </div>
</div>