@model IEnumerable<IJERTS.Objects.Users>
<div>
    <div class="row">
        <div class="col-md-2">Full Name</div>
        <div class="col-md-2">Department</div>
        <div class="col-md-2">Organisation</div>
        <div class="col-md-2">Specilisation</div>
        <div class="col-md-2">Active</div>
        <div class="col-md-2">Details</div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-2"><p>@item.FirstName @item.LastName</p></div>
            <div class="col-md-2"><p>@item.Department</p></div>
            <div class="col-md-2"><p>@item.Organisation</p></div>
            <div class="col-md-2"><p>@item.Specialisation</p></div>
            <div class="col-md-2">
                <p>
                    <a href="#" class="color ActivateReviewer" data-userid="@item.UserId" data-firstname="@item.FirstName" data-lastname="@item.LastName" data-email="@item.Email">Activate</a>/
                    <a href="#" class="color DeActivateReviewer" data-userid="@item.UserId" data-firstname="@item.FirstName" data-lastname="@item.LastName" data-email="@item.Email">De-Activate</a>
                </p>
            </div>
            <div class="col-md-2">
                <p>@Html.ActionLink("Details", "GetReviewerDetails", "Review", new { userId = @item.UserId }, null)</p>
            </div>
        </div>
    }
</div>
<div class="hidden">
    @using (Html.BeginForm("ActivateDeActivateReviewer", "Review", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("UserId")
        @Html.Hidden("FirstName")
        @Html.Hidden("LastName")
        @Html.Hidden("Email")
        @Html.Hidden("Type")
        <button class="hidden" id="btnActivateReviewer" type="Submit"></button>
    }    
</div>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script>

    $(document).on('click', '.ActivateReviewer', function () {
        var userid = $(this).attr("data-userid");
        var firstname = $(this).attr("data-firstname");
        var lastname = $(this).attr("data-lastname");
        var email = $(this).attr("data-email");
        $('#UserId').val(userid);
        $('#FirstName').val(firstname);
        $('#LastName').val(lastname);
        $('#Email').val(email);
        $('#Type').val('A');
        $('#btnActivateReviewer').click();
    });

    $(document).on('click', '.DeActivateReviewer', function () {
        var userid = $(this).attr("data-userid");
        var firstname = $(this).attr("data-firstname");
        var lastname = $(this).attr("data-lastname");
        var email = $(this).attr("data-email");
        $('#UserId').val(userid);
        $('#FirstName').val(firstname);
        $('#LastName').val(lastname);
        $('#Email').val(email);
        $('#Type').val('D');
        $('#btnActivateReviewer').click();
    });
</script>