
@{
    @model IJERTS.Objects.Queries
    ViewData["Title"] = "QueryDetails";
}

<h2>QueryDetails</h2>


<div style="padding-left:8px">
    @using (Html.BeginForm("QueryDetails", "Editor", FormMethod.Post))
    {
        <div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <tr><td>Id</td><td>@Model.QueryId @Html.TextAreaFor(model => model.QueryId, new { @class = "form-control form-control-solid placeholder-no-fix disablecopypaste hidden" })</td></tr>
                    <tr><td>First Name</td><td>@Model.FirstName</td></tr>
                    <tr><td>Last Name</td><td>@Model.LastName</td></tr>
                    <tr><td>Email Name</td><td>@Model.Email</td></tr>
                    <tr><td>Query</td><td>@Model.QueryText</td></tr>
                    <tr>
                        <td>Response</td>
                        <td>
                            @Html.TextAreaFor(model => model.QueryAnswer, new { @class = "form-control form-control-solid placeholder-no-fix disablecopypaste", @maxlength = 1000, @row = 4, @placeholder = "Query", @name = "QueryAnswer", @autocomplete = "off" })
                            @Html.DisplayTextFor(model => model.QueryAnswer)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @*<p>@Html.ActionLink("Submit", "UpdateQuery", "Editor", new { id = Model.QueryId}, null)</p>*@
                            <button class="btn btn-mod btn-block btn-small btnSave" id="btnSave" style="width:75px">Submit</button>
        <button type="submit" class="btn btn-mod btn-block btn-small hidden" id="btnSubmit">Submit</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><label id="lblError" class="text-danger"> @TempData["Result"]</label></td>
                    </tr>
                </table>
            </div>
        </div>

    }
</div>
<script type="text/javascript">

    $(".btnSave").click(function (event) {
        error = 0;
        event.preventDefault();

        //else if ($("input[name='QueryText']").val().trim() == "") {
        //    alert('Please enter the Query');
        //    $("#QueryText").focus();
        //    return false;
        //}
        //else {
            $("#btnSubmit").click();
            return true;
        //}
    });
</script>